html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu-icon{
    max-height: 35px;
}

.lateral-menu {
    height: 100vh;
    background-color: #8ecaf2;
}

.menu-icon {
   color: #1e1e1e;
}

.bg-menu-icon {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

.bg-menu-icon.active-page {
    background-color: #32aafa;
}

.waves {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    z-index: -1;
}