@{
    ViewData["Title"] = "Splash";
}

<div class="pagina">
    <p>Início</p>
</div>

<div style="overflow-y: auto; overflow-x: hidden; max-height: 800px">
<div class="news">
    <h1>Novidades SPLASH</h1>
    <div class="cards">
        <img src="~/assets/card.svg">
        <img src="~/assets/card.svg">
        <img src="~/assets/card.svg">
    </div>
</div>
<div class="started">
    <h1>Getting Started</h1>
    <p>Para uma melhor experiência utilizando nossos serviços, confira abaixo nossos guias de treinamento de usuário:</p>
</div>
</div>