@{
    ViewData["Title"] = "Splash";
}

<div class="pagina">
    <p>Treinamentos</p>
</div>
<div style="overflow-y: auto; overflow-x: hidden; max-height: 800px" class="ml-2">
<div class="lista">
    <h1>Treinamentos</h1>
    <h2>
        Treinamento de software<h2>
            <p>O Software SPLASH tem como principal objetivo o monitoramento, exibição de dados e controle do hardware presente no tanque de piscicultura. Neste artigo, iremos introduzir as funcionalidades do software e guiar o usuário para que a plataforma seja utilizada da melhor forma.</p>
            <img src="~/assets/exemplo.svg">
            <p>Na interface Meu Splash, o usuário poderá ver informações importantes sobre a área que está sendo monitorada pelo KIT SPLASH, como o pH da água, situação do hardware, cargas disponíveis, datas de ativação, etc. Além disso, a opção "AÇÕES" leva o usuário ao módulo de ações de controle do HardWare.</p>
</div>
</div>