@{
    ViewData["Title"] = "Splash";
}

<div class="pagina">
    <p>Meu Splash</p>
</div>
<div class="monitoramento">
    <h1>Monitoramento</h1>
    <div class="monitores">
        <img src="~/assets/monitor.svg">
        <img src="~/assets/monitor.svg">
        <img src="~/assets/monitor.svg">
    </div>
</div>