@{
    ViewData["Title"] = "Splash";
}

<div class="pagina">
    <p>Suporte</p>
</div>
<div class="ml-2">
<div class="Contato">
    <h1>Precisa de Ajuda?</h1>
    <p>Nossa equipe de suporte ao cliente irá atender você o mais breve possível com soluções para seu problema! Por favor entre em contato pelo email helpsplash@email.com</p>
</div>
<div class="waves position-absolute bottom-0">
    <img src="~/assets/waves.svg">
</div>
</div>